body{
	margin: 5em;
	background-image: url('Background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
}
img{
	width:30%;
	margin:50px;
	border: 5px dashed black;
	border-radius:50%;
}
h1{
	background-color:white;
	border:2px solid black; 
	margin-left:160px;
	margin-right:160px;
	text-align:center;
	padding: 0.5em;
}
textarea {
  width: 800px;
  height: 150px;
}
input[type=submit]{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	width:10% 10%;
}
fieldset{
	background-color:#f9ebcf;
}
legend{
	border:2px solid black;
	background-color:white;
}
.border{
	background-color:white;
	border:2px solid black;
	padding: 5px;
}
.right{
	float:right;
	margin-right:100px;
}
.left{
	float:left;
	margin-left:100px;
}
